In [1]:
li=[10,20,30,4,5]
print(li[0])
print(li[-1])
print(li[0:3])
print(li[::2])
print(li[::3])

10
5
[10, 20, 30]
[10, 30, 5]
[10, 4]

In [2]:
li=[10,20,30,4,5]
li[0:4:2]

[10, 30]

In [8]:
list1=["python",3,6,"hyd"]
print(list1)
list1[1]="gitam"
list1

['python', 3, 6, 'hyd']

['python', 'gitam', 6, 'hyd']

In [9]:
# del list items
del list1[1]
list1

['python', 6, 'hyd']

In [15]:
#basic list operations
l=[2,5,7,1,8,4]
len(l)
#list repetition
li*2
#to check certain element is present in the list
print(4 in l)
print(10 not in l)
#access all the items present in the list:
print(l)
for i in l:
    print(i)

True
True
[2, 5, 7, 1, 8, 4]
2
5
7
1
8
4

In [17]:
print(l) 
for i in range(len(l)):
    print(l[i])

[2, 5, 7, 1, 8, 4]
2
5
7
1
8
4

In [21]:
print(l)
print(max(l))
print(min(l))
print(sum(l))
print(sum(l)/len(l))

[2, 5, 7, 1, 8, 4]
8
1
27
4.5

In [27]:
print(l)
l.append("python")# adds the item to the end of the list
l.insert(0,"gitam")# adds the new item at the specified index

['gitam', 2, 5, 7, 1, 8, 4, 'python', 'python', 'python', 'python', 'python']

In [28]:
print(l.count(4))
print(l.index(2))
print(l.index(4))

1
2
7

In [29]:
list1=[6,89,3,2,1,78]
list1.sort()
list1

[1, 2, 3, 6, 78, 89]

In [30]:
print(list1)
list1.pop()

[1, 2, 3, 6, 78, 89]

89

In [31]:
list1

[1, 2, 3, 6, 78]

In [34]:
print(list1)
list1.pop(2)

[1, 2, 3, 6, 78]

3

In [35]:
list1

[1, 2, 6, 78]

In [38]:
li1=[1,2,3]
list1.extend(li1)
list1

[1, 2, 6, 78, 1, 2, 3]

In [39]:
list1.reverse()
list1

[3, 2, 1, 78, 6, 2, 1]

In [41]:
# function to return the largest element from the list
def largenumber(li):
    li.sort()
    return li[-1]
li=[3,45,32,67,890,12]
largenumber(li)

890